<% include header %>
<div class="row text-center ">
	<div class="col-md-12">
		<h3>Your URL has been squished!</h3> <h4><a target="-blank" href="http://<%=host%>/<%=squish_code%>">http://<%=host%>/<%=squish_code%></a></h4>
		
	</div>
</div>
<div class="colorDivide">
</div>

<% include footer %>