	<div class="squishCopy row">
		<div class="col-md-12 text-center">
			<!-- <p>&copy; 2014 SquishIt Url Shortener. All rights squished.</p> -->
		</div>
	</div>
</div><!--close colorDivide -->
<!-- </div> end of container div -->
</body>
</html>
<head></head>