<% include header %>
	<div class="squishForm text-center">
		<form action="/create" method="post">
			<input type="text" name="full_url" class="urlSquish" placeholder="enter your full url">
			<input type="submit" class="squishButton">
		</form>
<p>&nbsp;</p>
	</div>
	<div class="colorDivide">
	<p>&nbsp;</p>
	
<% include footer %>